/* Fiscal application css */
/*-----------------------*/
.fiscal-application .content-wrapper {
  border-radius: 0.267rem;
  position: relative;
}

.fiscal-application .content-wrapper #basic-datatable .card {
  border: 1px solid #DFE3E7; 
}

.fiscal-application .content-wrapper .overlay {
  position: absolute;
  width: 400px;
  height: 100%;
  border-radius: 0.267rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #FFFFFF;
  top: 0;
  right: 0;
  transform: translateX(130%);
  transition: all .3s ease;
  z-index: 8;
  
}

.fiscal-application .content-wrapper .overlay.show {
  transform: translateX(0%);
}


.fiscal-application .content-wrapper #basic-datatable.show {
  opacity: 0.3;  
}


.fiscal-application .content-wrapper .app-overlay.show{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}