@font-face{
    font-family: "mukta malar bold";
    src: url("../Mukta_Malar/MuktaMalar-Bold.ttf");
}

@font-face{
    font-family: "mukta malar medium";
    src: url("../Mukta_Malar/MuktaMalar-Medium.ttf");
}

@font-face{
    font-family: "mukta malar light";
    src: url("../Mukta_Malar/MuktaMalar-Light.ttf");
}

@media screen and (max-width: 1870px) {
    #titre p{
        font-size: 65px;
    }
    #sous-titre p{
        font-size: 25px;
        line-height: 40px;
    }
}

@media screen and (max-width: 1278px) {
    #sous-titre p{
        margin: 100px 0 0 0;
    }
}

@media screen and (max-width: 1785px) {
    #div-titre-gauche{
        display: none;
    }
    #div-titre-droite{
        min-width: 100%;
    }
}

@media screen and (min-width: 2300px) {
    #titre p{
        font-size: 65px;
    }
    #sous-titre p{
        font-size: 25px;
        line-height: 40px;
    }
}

@media screen and (max-width: 1878px) {
    #div-carte-droite{
        display: none;
    }
    #div-carte-gauche{
        min-width: 100%;
    }
    #titre p{
        font-size: 65px;
    }
    #sous-titre p{
        font-size: 25px;
        line-height: 40px;
    }
}

#titre{
    font-family: mukta malar medium;
    color: white;
    margin: 180px 0 0 10%;
    font-size: 60px;
    width: 80%;
}

#titre p{
    line-height: 70px;
}

#sous-titre{
    font-family: mukta malar medium;
    color: white;
    margin: 50px 0 0 10%;
    font-size: 17px;
}

#sous-titre p{
    width: 70%;
}

.container-fluid {
    padding-top: 68px;
}

#div-titre-gauche{
    background-color: #051441;
    border-radius: 0 400px 400px 0;
    
}

#div-titre-droite{
    padding: 100px;
}

#div-titre-droite h1{
    color: #003783;
    font-family: mukta malar medium;
    margin: 50px 0 0 20px;
}

#solution-logo{
    margin-top: 50px;
}

#solution-logo ul{
    padding: 10px;
    text-align: center;
}

#solution-logo ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8% 10px 0;
}

#solution-logo ul li p{
    margin-top: 10px;
    text-align: center;
    font-family: mukta malar medium;
    color: #051441;
}

#localisation{
    margin: 50px 10% 0 0;
}

input[type="checkbox"].solu {
    display: none;
}

input[type="checkbox"].solu + label {
    padding: 10px;
    border: none;
    border-radius: 15px;
}

input[type="checkbox"].solu + label:hover{
    cursor:pointer;
}

input[type="checkbox"].solu:checked + label {
    border: 1px hidden rgba(5, 20, 65, 0.6);
    background-color: rgba(5, 20, 65, 0.1);
}

.card-container{
    margin: 50px;
}

.card-container ul{
    padding: 10px;
    text-align: center;
}

.card-container ul li{
    list-style: none;
    display: inline-block;
}

.card-body{
    width: 300px;
    border: 1px solid #051441;
    border-radius: 10px;
    margin: 20px;
}

.card-body img{
    width: 250px;
    height: 200px;
}

.card-descrip{
    margin-top: 5px;
}

.card-descrip #ville{
    font-family: mukta malar medium;
    color: black;
}

.card-descrip #adresse{
    font-family: mukta malar medium;
    color: black;
}

.card-btn{
    margin-bottom: 5px;
}

.card-btn a{
    font-family: mukta malar medium;
    color: #003783;
    text-transform: uppercase;
}

#city-list{
    float:left;
    list-style:none;
    margin-top:-3px;
    padding:0;
    width:190px;
    position: absolute;
}

#city-list li{
    padding: 10px; 
    background: white; 
    color: #051441;
    font-family: mukta malar light;
    border-bottom: #051441 1px solid; 
    border-radius: 10px; 
}

#city-list li:hover{
    background: rgba(5, 20, 65, 0.1);
    cursor: pointer;
}

#search-box{
    padding: 10px;
    border: #a8d4b1 1px solid;
    border-radius:4px;
}

#suggestion-box{
    margin-top: 3px;
}