@font-face{
    font-family: "mukta malar bold";
    src: url("../Mukta_Malar/MuktaMalar-Bold.ttf");
}

@font-face{
    font-family: "mukta malar medium";
    src: url("../Mukta_Malar/MuktaMalar-Medium.ttf");
}

@font-face{
    font-family: "mukta malar light";
    src: url("../Mukta_Malar/MuktaMalar-Light.ttf");
}

.container-fluid {
    padding-top: 68px;
}

.carousel{
    margin: 50px auto;
}

.carousel-item {
    text-align: center;
}

.carousel-item img{
    height: auto; 
    width: auto;
}

#titre{
    text-transform: uppercase;
    font-family: mukta malar bold;
    color: #051441;
}

#div-descrip pre{
    font-family: mukta malar medium;
    color: #051441;
    font-size: 17px;
    white-space: pre-wrap;
    background-color: #ffffff;
}

#div-info{
    background-color: #051441;
}

#div-info ul{
    margin: 50px 15%;
}

#div-info ul li{
    list-style-position: inside;
    color: white;
    font-family: mukta malar medium;
}

#div-service-dispo{
    padding: 50px;
}

#div-service-dispo h2{
    font-family: mukta malar bold;
    color: #003783;
    text-align: center;
}

#solution-logo{
    margin: 50px 50px 0 50px;
}

#solution-logo ul{
    padding: 10px;
    text-align: center;
}

#solution-logo ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5%;
}

#solution-logo ul li img{
    width: 150px;
}

#solution-logo ul li p{
    margin-top: 10px;
    text-align: center;
    font-family: mukta malar medium;
    color: #051441;
}

input[type="radio"].solu {
    display: none;
}

input[type="radio"].solu + label {
    border: none;
}

input[type="radio"].solu + label:hover{
    cursor:pointer;
}

#div-btn-sol{
    text-align: center;
}

#btn-sol{
    font-family: mukta malar bold; 
    width: 150px; 
    white-space: nowrap; 
    background-color: #29fe8c;
}

#titre-contrat{
    text-align: center; 
    margin: 50px 0 20px 0;
    font-family: mukta malar bold;
    color: #051441;
}

#sous-titre-contrat{
    text-align: center;
    color: #051441; 
}

#contrat{
    width: 60%;
    margin: 100px auto;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #051441;
}

#contrat-gauche, #contrat-droite{
    margin-bottom: 10px;
}


#contrat ul li{
    list-style: none;
    width: 100%;
    margin: 0 0 15px 0;
}

#btn button{
    background-color: #29fe8c;
    padding: 5px 10px;
}

#contrat-droite label, #contrat-gauche label{
    font-family: mukta malar medium;
    color: #051441;
    font-size: 15px;
    margin-top: 5px;
}

#contrat-droite input, #contrat-gauche input{
    right: 40px;
    position: absolute;
    padding: 5px 10px;
}

@media screen and (max-width: 1700px) {
    #contrat-gauche, #contrat-droite{
        min-width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #contrat-droite label, #contrat-droite input, #contrat-gauche label, #contrat-gauche input{
        min-width: 90%;
        left: 0;
        position: relative;
    }
}

@media screen and (max-width: 800px) {
    #contrat{
        padding: 30px 10px;
    }
}

@media screen and (max-width: 550px) {
    #contrat{
        padding: 30px 0;
    }
    #contrat-droite label, #contrat-droite input, #contrat-gauche label, #contrat-gauche input{
        width: 15%;
        left: -10px;
    }
}