@font-face{
  font-family: "mukta malar medium";
  src: url("../Mukta_Malar/MuktaMalar-Medium.ttf");
}

*{font-family: mukta malar medium;}
*{font-size: 1em;}

/* Works on Firefox */
.chat-popup {
  scrollbar-width: thin;
  scrollbar-color: #29fe8c #051441;
}

/* Works on Chrome, Edge, and Safari */
.historique::-webkit-scrollbar {
  width: 12px;
}

.historique::-webkit-scrollbar-track {
  background: #051441;
}

.historique::-webkit-scrollbar-thumb {
  background-color: #29fe8c;
  border-radius: 50px;
  border: solid #051441;
}

/* Button used to open the chat form - fixed at the bottom of the page */
  .open-button {    
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 3%;
    right: 4%;
    width: 60px;
    padding: 15px;
    background-color: #051441;
  }

  .notification {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background: red;
    position: absolute;
    top: -65px;
    right: -5px;
    height: 20px;
    width: 20px;
    font-size: 1em;
    color: white;
    text-align: center;
    z-index: 10;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 7%;
    right: 4%;
    height: 60%;
    width: 25%;
    min-width: 300px;
  }
  
  /* Add styles to the form container */
  .form-container {
    
    padding: 5%;
    height: 100%;
    width: 100%;
    
	background-color: #051441;
  }
  
  /* Full-width textarea */
  .form-container input#content {
    width: 65%;
    text-indent: 5%;
    padding: 5px;
    
    height: 7%;

    z-index: 6;
    
    border: none;
    background: white;
    resize: none;
   
    position: absolute;
    left: 10%;
    bottom: 5%;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container input#content:focus {
    background-color: rgb(248, 248, 248);
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    border: none;
    cursor: pointer;
    position: absolute;
    right : 5%;
    bottom: 5%;
    z-index: 6;
  }
  

  .profil{
    height: 16.67%;   
  }

  .img-profil{
    width: 15%;
    position: absolute;
    left: 10%;
    top: 3%;
  }


  .nom{
      color: white;
      position: absolute;
      top: 5%;
      left: 30%;
  }

  .dispo{
    color: #29fe8c;
    position: absolute;
    left: 30%;
    top: 9%;
  }

  .historique{
      color: white;
      height: 66.67%;
      overflow: auto;
      width: 100%;
  }



  .chat .chat-body .chat-message p {
      float: right;
      padding: 15px;
      background-color: #3399FF;
      max-width: 75%;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      overflow-wrap: break-word;
      clear: both;
      margin-right: 2%;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
  }

  .chat.chat-left .chat-body .chat-message p {
      float: left;
      padding: 15px;
      background-color: #004CB2;
      max-width: 75%;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      overflow-wrap: break-word;
      clear: both;
      margin-left: 2%;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
  }

  .chat-time {
    color: rgb(207, 207, 207);
    font-size: 0.8em;
    margin-top: -2%;
    margin-bottom: 4%;
  }

  .chat .chat-body .chat-message .chat-time {
    float: right;
    clear: both;
    margin-right: 10%;
  }

  .chat.chat-left .chat-body .chat-message .chat-time {
    float: left;
    clear: both;
    margin-left: 10%;
  }

  .message{
      color: white;
      height: 16.66%;
      z-index: 5;
  }

  .round{
    border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
  
  }

  
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
  right: 10px;
  top: auto;
	bottom: -55px;
	border: 55px solid;
	border-color: transparent #051441 transparent transparent ;
  pointer-events: none;
  z-index: -1;
}

.cross{
    border: none;
    cursor: pointer;
    width: 15px;
    right: 6.5%;
    top: 5%;
    position: absolute;
}

.chat-avatar {
  display: none;
}