@font-face{
    font-family: "mukta malar bold";
    src: url("../Mukta_Malar/MuktaMalar-Bold.ttf");
}

@font-face{
    font-family: "mukta malar medium";
    src: url("../Mukta_Malar/MuktaMalar-Medium.ttf");
}

@font-face{
    font-family: "mukta malar light";
    src: url("../Mukta_Malar/MuktaMalar-Light.ttf");
}

body{
    background-color: #EDF1FF;
}

.container-fluid {
    padding-top: 68px;
    background-color: #EDF1FF;
}

#div-entreprise{
    margin: 30px 0 0 0;
    position: relative;
    left: -1%;
    background-color: white;
    width: 90%;
    border-radius: 40px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}

#div-nom{
    background-color: #051441;
    border-radius: 0 400px 400px 0;
    padding: 50px;
    text-align: center;
    width: 100%;
}

#div-nom img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

#div-nom h3{
    margin-top: 20px;
    font-family: mukta malar bold;
    color: white;
}
/*
#div-info{
    
}
*/
#div-info label{
    color: #051441;
    font-family: mukta malar bold;
}

#div-info input{
    width: 200px;
    height: 30px;
    background-color: #EDF1FF;
    color: #051441;
    font-family: mukta malar light;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

#div-info button{
    height: 40px;
    width: 200px;
    background-color: #29fe8c;
    color: #051441;
    font-family: mukta malar medium;
}
/*
#info-haut{

}

#info-bas{
    
}
*/

#div-dodo{
    min-width: 100%;
    padding: 0 10%;
    height: ;
}

#div-domiciliation{
    height: 400px;
}

#div-domiciliation h2{
    color: #051441;
    font-family: mukta malar bold;
}

#se-domicilier{
    background-color: #051441;
    border-radius: 40px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    height: 50%;
}

#se-domicilier h3{
    font-family: mukta malar bold;    
    color: white;
}

#se-domicilier a{
    text-decoration: none;
    font-family: mukta malar bold;
    background-color: #29fe8c;
    color: #051441;
    border-radius: 10px;
    height: 30px;
    padding: 5px 10px;
    margin: 10% 0 0 0;
}

#solution{
    border-radius: 40px;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    margin-top: 20px;
}

#solution ul{
    padding: ;
    text-align: center;
}

#solution ul li{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 10px 1% 0 1%;
}

#solution ul li img{
    width: 80px;
}

#solution ul li p{
    margin-top: 10px;
    font-family: mukta malar bold;
    color: #051441;
    white-space: nowrap;
}

input[type="checkbox"].solu {
    display: none;
}

input[type="checkbox"].solu + label {
    border: none;
}

input[type="checkbox"].solu + label:hover{
    cursor:pointer;
}

#div-document{
    height: ;
}

#div-document h2{
    color: #051441;
    font-family: mukta malar bold;
    white-space: nowrap;
}

#doc-manquant{
    background-color: white;
    border-radius: 40px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);   
    height: 410px;
}

#doc-manquant h4{
    color: #051441;
    font-family: mukta malar medium;
}

#scroll-doc{
    overflow: auto; 
    width: 100%; 
    height: 300px;
}

#scroll-doc::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
#scroll-doc::-webkit-scrollbar-track {
    background-color: #DCDCDC; 
    box-shadow: 0 0 2px grey;
    border-radius: 10px;
}
   
  /* Handle */
#scroll-doc::-webkit-scrollbar-thumb {
    background: #C0C0C0; 
    border-radius: 10px;
}
  
  /* Handle on hover */
#scroll-doc::-webkit-scrollbar-thumb:hover {
    background: #FFFFF0; 
}

#img-doc{
    height: 30px;
}

#scroll-doc a{
    border-radius: 10px;
    margin: 10px;
    color: #051441;
    font-family: mukta malar medium;
}

#scroll-doc a #vx{
    float: right;
}

#av{
    background-color: #29fe8c;
}

#ax{
    background-color: #C0C0C0;
}