@font-face{
    font-family: "mukta malar bold";
    src: url("../Mukta_Malar/MuktaMalar-Bold.ttf");
}

@font-face{
    font-family: "mukta malar medium";
    src: url("../Mukta_Malar/MuktaMalar-Medium.ttf");
}

@font-face{
    font-family: "mukta malar light";
    src: url("../Mukta_Malar/MuktaMalar-Light.ttf");
}

.harrypotter{display: none;}
.harrypottergood{display: block;}
.vert{color: #12ff3a;}

html body {
    height: 100%;
    background-color: #edf1ff;
    direction: ltr;
}

html body .content .content-wrapper .content-header-title {
    color: #051441;
    margin-right: 1rem;
    border-right: 1px solid #051441;
}

.nav-pills .nav-link, .nav-pills .show > .nav-link {
    color: #051441;
    background-color: #edf1ff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFFFFF;
    background-color: #051441;
}

.btn-primary {
    border: none !important;
    background-color: #29fe8c !important;
    color: #051441;
}

.form-group label{
    font-family: mukta malar medium;
    color: #051441;
}

.form-group input{
    font-family: mukta malar light;
    color: #051441;
}