/* Colors CSS */
/* --------- */
/*------------------------------------------------------------------
[Table of contents for each color options]

- Text Color
- Background Color
- Alert
- Border
- Badges
- Buttons
- Dropdowns
- Bullet
- Pagination
- Progress bars
- Chips
- Divider
- Timeline
- Checkboxes & Radio
- Custom Switches
- Touchspin
- Scrumboard
- Select2
-------------------------------------------------------------------*/
/* white Color Style */
/* ----------------------- */
/* Text color */
/* ---------- */
.white {
  color: #FFFFFF !important;
}

/* text with light white */

/* Background color */
/* ---------------- */

/* bg color lighten for rgba - opacity set */

/* Alert white */
/* ---------------- */

/* Border white */
/* ---------------- */

/* Navbar icon stroke color according to bg color */

/* Badges */
/* ------ */

/* Basic buttons */
/* ------------- */

/* Outline buttons */

/* Dropdowns */
/* --------- */

/* Bullet white */

/* For Pagination */
/* -------------- */

/* Progress Bars white */
/* ---------------------- */

/* Chips white */
/* ---------------- */

/* Divider white */
/* ---------------*/

/* timeline */

/* Custom Checkbox & Radio - Colored */
/* --------------------------------- */

/* Bootstrap Custom Switches */
/* ------------------------- */

/* Touchspin Glow */
/* -------------- */

/* Scrumboard Application - kanban-item with coloured border */
/* --------------------------------------------------------- */

/* Select2 white */
/* ---------------*/

/* black Color Style */
/* ----------------------- */
/* Text color */
/* ---------- */

/* text with light black */

/* Background color */
/* ---------------- */

/* bg color lighten for rgba - opacity set */

/* Alert black */
/* ---------------- */

/* Border black */
/* ---------------- */

/* Navbar icon stroke color according to bg color */

/* Badges */
/* ------ */

/* Basic buttons */
/* ------------- */

/* Outline buttons */

/* Dropdowns */
/* --------- */

/* Bullet black */

/* For Pagination */
/* -------------- */

/* Progress Bars black */
/* ---------------------- */

/* Chips black */
/* ---------------- */

/* Divider black */
/* ---------------*/

/* timeline */

/* Custom Checkbox & Radio - Colored */
/* --------------------------------- */

/* Bootstrap Custom Switches */
/* ------------------------- */

/* Touchspin Glow */
/* -------------- */

/* Scrumboard Application - kanban-item with coloured border */
/* --------------------------------------------------------- */

/* Select2 black */
/* ---------------*/

/* dark Color Style */
/* ----------------------- */
/* Text color */
/* ---------- */

/* text with light dark */

/* Background color */
/* ---------------- */

/* bg color lighten for rgba - opacity set */

/* Alert dark */
/* ---------------- */

/* Border dark */
/* ---------------- */

/* Navbar icon stroke color according to bg color */

/* Badges */
/* ------ */

/* Basic buttons */
/* ------------- */

/* Outline buttons */

/* Dropdowns */
/* --------- */

/* Bullet dark */

/* For Pagination */
/* -------------- */

/* Progress Bars dark */
/* ---------------------- */

/* Chips dark */
/* ---------------- */

/* Divider dark */
/* ---------------*/

/* timeline */

/* Custom Checkbox & Radio - Colored */
/* --------------------------------- */

/* Bootstrap Custom Switches */
/* ------------------------- */

/* Touchspin Glow */
/* -------------- */

/* Scrumboard Application - kanban-item with coloured border */
/* --------------------------------------------------------- */

/* Select2 dark */
/* ---------------*/

/* light Color Style */
/* ----------------------- */
/* Text color */
/* ---------- */

/* text with light light */

/* Background color */
/* ---------------- */

/* bg color lighten for rgba - opacity set */

/* Alert light */
/* ---------------- */

/* Border light */
/* ---------------- */

/* Navbar icon stroke color according to bg color */

/* Badges */
/* ------ */

/* Basic buttons */
/* ------------- */

/* Outline buttons */

/* Dropdowns */
/* --------- */

/* Bullet light */

/* For Pagination */
/* -------------- */

/* Progress Bars light */
/* ---------------------- */

/* Chips light */
/* ---------------- */

/* Divider light */
/* ---------------*/

/* timeline */

/* Custom Checkbox & Radio - Colored */
/* --------------------------------- */

/* Bootstrap Custom Switches */
/* ------------------------- */

/* Touchspin Glow */
/* -------------- */

/* Scrumboard Application - kanban-item with coloured border */
/* --------------------------------------------------------- */

/* Select2 light */
/* ---------------*/

/* primary Color Style */
/* ----------------------- */
/* Text color */
/* ---------- */

/* text with light primary */

/* Background color */
/* ---------------- */

/* bg color lighten for rgba - opacity set */

/* Alert primary */
/* ---------------- */

/* Border primary */
/* ---------------- */

/* Navbar icon stroke color according to bg color */

/* Badges */
/* ------ */
.badge.badge-primary {
  background-color: #5A8DEE;
}

.badge.badge-light-primary {
  background-color: #E2ECFF;
  color: #5A8DEE !important;
}

/* Basic buttons */
/* ------------- */
.btn-primary {
  border-color: #2c6de9 !important;
  background-color: #5A8DEE !important;
  color: #fff;
}

.btn-primary:hover, .btn-primary.hover {
  background-color: #719df0 !important;
  color: #fff;
}

.btn-primary:hover.glow, .btn-primary.hover.glow {
  box-shadow: 0 4px 12px 0 rgba(90, 141, 238, 0.6) !important;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #437dec !important;
  color: #fff !important;
}

.btn-primary.glow {
  box-shadow: 0 2px 4px 0 rgba(90, 141, 238, 0.5) !important;
}

.btn-primary:disabled {
  color: #fff !important;
}

/* Outline buttons */

/* Dropdowns */
/* --------- */

/* Bullet primary */

/* For Pagination */
/* -------------- */

/* Progress Bars primary */
/* ---------------------- */

/* Chips primary */
/* ---------------- */

/* Divider primary */
/* ---------------*/

/* timeline */

/* Custom Checkbox & Radio - Colored */
/* --------------------------------- */

/* Bootstrap Custom Switches */
/* ------------------------- */

/* Touchspin Glow */
/* -------------- */

/* Scrumboard Application - kanban-item with coloured border */
/* --------------------------------------------------------- */

/* Select2 primary */
/* ---------------*/

/* secondary Color Style */
/* ----------------------- */
/* Text color */
/* ---------- */

/* text with light secondary */

/* Background color */
/* ---------------- */

/* bg color lighten for rgba - opacity set */

/* Alert secondary */
/* ---------------- */

/* Border secondary */
/* ---------------- */

/* Navbar icon stroke color according to bg color */

/* Badges */
/* ------ */
.badge.badge-secondary {
  background-color: #475F7B;
}

/* Basic buttons */
/* ------------- */
.btn-secondary {
  border-color: #34465b !important;
  background-color: #475F7B !important;
  color: #fff;
}

.btn-secondary:hover, .btn-secondary.hover {
  background-color: #506b8b !important;
  color: #fff;
}

.btn-secondary:hover.glow, .btn-secondary.hover.glow {
  box-shadow: 0 4px 12px 0 rgba(71, 95, 123, 0.6) !important;
}

.btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  background-color: #3e536b !important;
  color: #fff !important;
}

.btn-secondary.glow {
  box-shadow: 0 2px 4px 0 rgba(71, 95, 123, 0.5) !important;
}

.btn-secondary:disabled {
  color: #fff !important;
}

/* Outline buttons */

/* Dropdowns */
/* --------- */

/* Bullet secondary */

/* For Pagination */
/* -------------- */

/* Progress Bars secondary */
/* ---------------------- */

/* Chips secondary */
/* ---------------- */

/* Divider secondary */
/* ---------------*/

/* timeline */

/* Custom Checkbox & Radio - Colored */
/* --------------------------------- */

/* Bootstrap Custom Switches */
/* ------------------------- */

/* Touchspin Glow */
/* -------------- */

/* Scrumboard Application - kanban-item with coloured border */
/* --------------------------------------------------------- */

/* Select2 secondary */
/* ---------------*/

/* success Color Style */
/* ----------------------- */
/* Text color */
/* ---------- */

/* text with light success */

/* Background color */
/* ---------------- */

/* bg color lighten for rgba - opacity set */

/* Alert success */
/* ---------------- */

/* Border success */
/* ---------------- */

/* Navbar icon stroke color according to bg color */

/* Badges */
/* ------ */
.badge.badge-success {
  background-color: #39DA8A;
}

/* Basic buttons */
/* ------------- */

/* Outline buttons */

/* Dropdowns */
/* --------- */

/* Bullet success */

/* For Pagination */
/* -------------- */

/* Progress Bars success */
/* ---------------------- */

/* Chips success */
/* ---------------- */

/* Divider success */
/* ---------------*/

/* timeline */

/* Custom Checkbox & Radio - Colored */
/* --------------------------------- */

/* Bootstrap Custom Switches */
/* ------------------------- */

/* Touchspin Glow */
/* -------------- */

/* Scrumboard Application - kanban-item with coloured border */
/* --------------------------------------------------------- */

/* Select2 success */
/* ---------------*/

/* info Color Style */
/* ----------------------- */
/* Text color */
/* ---------- */

/* text with light info */

/* Background color */
/* ---------------- */

/* bg color lighten for rgba - opacity set */

/* Alert info */
/* ---------------- */

/* Border info */
/* ---------------- */

/* Navbar icon stroke color according to bg color */

/* Badges */
/* ------ */
.badge.badge-info {
  background-color: #00CFDD;
}

/* Basic buttons */
/* ------------- */

/* Outline buttons */

/* Dropdowns */
/* --------- */

/* Bullet info */

/* For Pagination */
/* -------------- */

/* Progress Bars info */
/* ---------------------- */

/* Chips info */
/* ---------------- */

/* Divider info */
/* ---------------*/

/* timeline */

/* Custom Checkbox & Radio - Colored */
/* --------------------------------- */

/* Bootstrap Custom Switches */
/* ------------------------- */

/* Touchspin Glow */
/* -------------- */

/* Scrumboard Application - kanban-item with coloured border */
/* --------------------------------------------------------- */

/* Select2 info */
/* ---------------*/

/* warning Color Style */
/* ----------------------- */
/* Text color */
/* ---------- */

/* text with light warning */

/* Background color */
/* ---------------- */

/* bg color lighten for rgba - opacity set */

/* Alert warning */
/* ---------------- */

/* Border warning */
/* ---------------- */

/* Navbar icon stroke color according to bg color */

/* Badges */
/* ------ */

/* Basic buttons */
/* ------------- */

/* Outline buttons */

/* Dropdowns */
/* --------- */

/* Bullet warning */

/* For Pagination */
/* -------------- */

/* Progress Bars warning */
/* ---------------------- */

/* Chips warning */
/* ---------------- */

/* Divider warning */
/* ---------------*/

/* timeline */

/* Custom Checkbox & Radio - Colored */
/* --------------------------------- */

/* Bootstrap Custom Switches */
/* ------------------------- */

/* Touchspin Glow */
/* -------------- */

/* Scrumboard Application - kanban-item with coloured border */
/* --------------------------------------------------------- */

/* Select2 warning */
/* ---------------*/

/* danger Color Style */
/* ----------------------- */
/* Text color */
/* ---------- */

/* text with light danger */

/* Background color */
/* ---------------- */

/* bg color lighten for rgba - opacity set */

/* Alert danger */
/* ---------------- */

/* Border danger */
/* ---------------- */

/* Navbar icon stroke color according to bg color */

/* Badges */
/* ------ */
.badge.badge-danger {
  background-color: #FF5B5C;
}

/* Basic buttons */
/* ------------- */

/* Outline buttons */

/* Dropdowns */
/* --------- */

/* Bullet danger */

/* For Pagination */
/* -------------- */

/* Progress Bars danger */
/* ---------------------- */

/* Chips danger */
/* ---------------- */

/* Divider danger */
/* ---------------*/

/* timeline */

/* Custom Checkbox & Radio - Colored */
/* --------------------------------- */

/* Bootstrap Custom Switches */
/* ------------------------- */

/* Touchspin Glow */
/* -------------- */

/* Scrumboard Application - kanban-item with coloured border */
/* --------------------------------------------------------- */

/* Select2 danger */
/* ---------------*/
