/*------------------------------------------------------------------

[Table of contents]
- Layout CSS
- Responsive Layout CSS
- Sidebar
- Footer CSS
- Main Menu 
- Content Helpers
-   Display
-   Borders
-   Box Shadow
-   Width
-   Height
-   Line Height
-   Transformations
- Image
- Bullets
- Avatar CSS
- Search
- Apex Chart CSS
- Bootstrap Social
- Demo CSS
- Customizer CSS
- Chips CSS
- Divider CSS
- Error CSS
- widget chat
- Timeline
- CSS Breakpoints
- Basic Input CSS
- Font Sizing
- Select2 CSS
- Datatables CSS
- Pick A Date CSS
- Daterange CSS
-------------------------------------------------------------------*/
/* Template Css */
/* ----------- */
html {
  font-size: 15px;
  height: 100%;
  letter-spacing: 0.01rem;
}

html body {
  height: 100%;
  background-color: #F2F4F4;
  direction: ltr;
}

html body .content {
  padding: 0;
  position: relative;
  transition: 300ms ease all;
  backface-visibility: hidden;
  min-height: calc(100% - 3.5rem);
  margin-left: 260px;
}

html body .content.app-content {
  overflow: hidden;
}

html body .content.app-content .content-overlay {
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.7s;
  z-index: -1;
}

html body .content.app-content .content-area-wrapper {
  height: calc(100% - 5rem);
  margin: calc(5rem) 2.2rem 0;
  display: flex;
  position: relative;
}

html body .content.app-content .content-area-wrapper .content-wrapper {
  margin-top: 0;
  height: calc(100vh - 9rem);
}

html body .content .content-wrapper {
  padding: calc(2.2rem - 0.4rem) 2.2rem 0;
  margin-top: 0;
}

html body .content .content-wrapper .content-header-title {
  color: #475F7B;
  margin-right: 1rem;
  border-right: 1px solid #828D99;
}

html body .content .content-wrapper .breadcrumb-wrapper .breadcrumb .breadcrumb-item a,
html body .content .content-wrapper .breadcrumb-wrapper .breadcrumb .breadcrumb-item a i {
  color: #828D99;
}

html body .content .content-wrapper .breadcrumb-wrapper .breadcrumb .breadcrumb-item a:hover,
html body .content .content-wrapper .breadcrumb-wrapper .breadcrumb .breadcrumb-item a i:hover {
  color: #5A8DEE;
}

html body .content .content-wrapper .breadcrumb-wrapper .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 9px;
}

html body .content .content-wrapper .breadcrumb-wrapper .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  color: #828D99;
  padding-right: 9px;
}

html body.navbar-static .app-content .navbar-container {
  padding-left: 2.2rem;
  padding-right: 1.2rem;
}

html body.navbar-static .app-content .content-wrapper {
  padding: 1.8rem 2.2rem 0;
  margin-top: 3px;
}

html body.navbar-static .app-content .content-area-wrapper {
  margin-top: 1rem;
}

html body.navbar-static .content {
  min-height: calc(100% - 12.5rem);
}

html body.navbar-sticky .app-content .navbar-container {
  padding-left: 1.8rem;
  padding-right: 1rem;
}

html body.navbar-sticky .app-content .content-wrapper {
  padding: 1.8rem 2.2rem 0;
  margin-top: 3rem;
}

html body.navbar-static .navbar-container, html body.navbar-sticky .navbar-container {
  padding-left: 1.8rem;
  padding-right: 1rem;
}

html body p {
  line-height: 1.5rem;
}

html body.bg-full-screen-image {
  background: url(../../app-assets/images/pages/auth-bg.jpg) no-repeat center center;
  background-size: cover;
}

html body.blank-page .content {
  margin-left: 0;
}

html body.blank-page .content.app-content {
  overflow: overlay;
  overflow-x: hidden;
}

html body.blank-page .content-wrapper {
  padding: 0 !important;
  margin-top: 0 !important;
}

html body.blank-page .content-wrapper .flexbox-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

html body[data-col="1-column"] .content,
html body[data-col="1-column"] .footer {
  margin-left: 0px !important;
}

html body[data-col="1-column"] .header-navbar.fixed-top {
  left: 0 !important;
}

i.livicon-evo,
span.livicon-evo {
  display: inline-block;
}

/* Responsive Layout Css */
/* --------------------- */
@media (min-width: 992px) {
  body .content-right {
    width: calc(100% - 260px);
    float: right;
  }
}

.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

@media (max-width: 575.98px) {
  html body .content .content-wrapper {
    padding: calc(2.2rem - 0.4rem) calc(2.2rem - 1rem) 0;
  }
}

@media (max-width: 575.98px) {
  body.navbar-static .app-content .header-navbar .navbar-container, body.navbar-sticky .app-content .header-navbar .navbar-container {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
}

/* Sidebar */
/* ------ */
.sidebar {
  position: relative;
  width: 100%;
}

@media (min-width: 992px) {
  .sidebar {
    vertical-align: top;
  }
}

/* Sidebar Fixed */

/* Sidenav Overlay */
.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}

/* Drag Target */
.drag-target {
  height: 100%;
  width: 30px;
  position: fixed;
  top: 0;
  left: -10px;
  z-index: 1036;
}

@media (min-width: 992px) {
  .sidebar-left {
    float: left;
  }
}

/* Footer Css */
/* ---------- */
footer.footer {
  padding: 1rem 2.2rem;
}

footer.footer a {
  margin-left: 0.3rem;
  color: #727E8C;
}

footer.footer span i {
  color: #FF5B5C;
  position: relative;
  top: 1px;
}

/* Fixed Footer */

/* Footer Hidden */

.scroll-top {
  position: fixed;
  bottom: 5%;
  padding: 0.5rem 0.83rem !important;
  right: 30px;
  display: none;
  z-index: 99;
}

/* Main Menu Base */
/* -------------- */
.main-menu {
  z-index: 1031;
  position: absolute;
  display: table-cell;
  height: 100%;
  overflow: hidden;
}

.main-menu.menu-light {
  color: #727E8C;
  background: #F2F4F4;
  border: #DFE3E7;
}

.main-menu.menu-light .navigation {
  background: #F2F4F4;
}

.main-menu.menu-light .navigation .navigation-header {
  color: #bac0c7;
  margin: calc(2.2rem - 0.5rem) 0 0.5rem 1.8rem;
  padding: 0;
  letter-spacing: 1px;
}

.main-menu.menu-light .navigation li a {
  display: flex;
  align-items: center;
  color: #8494a7;
  padding: 10px 12px;
}

.main-menu.menu-light .navigation > li {
  margin: 0 1rem;
  transition: background-color 0.5s ease;
}

.main-menu.menu-light .navigation > li.nav-item:not(.has-sub) a {
  padding: 10px 12px;
}

.main-menu.menu-light .navigation > li.nav-item.open > a {
  margin: 0 11px 0;
  padding: 9px 0;
  transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
}

.main-menu.menu-light .navigation > li.nav-item.open > a i {
  color: #5A8DEE !important;
}

.main-menu.menu-light .navigation > li.nav-item.open .menu-content li a {
  padding: 10px 18px;
}

.main-menu.menu-light .navigation > li.nav-item.open .menu-content li > a:hover {
  padding-left: 15px !important;
}

.main-menu.menu-light .navigation > li:not(.open) > ul {
  display: none;
}

.main-menu.menu-light .navigation > li.active:not(.sidebar-group-active) > a {
  background: rgba(90, 141, 238, 0.15);
  color: #5A8DEE;
  border-radius: 0.267rem;
}

.main-menu.menu-light .navigation > li .active > a {
  margin-bottom: 0;
}

.main-menu.menu-light .navigation > li .active .hover {
  background: #e7ebeb;
}

.main-menu.menu-light .navigation > li ul li > a {
  padding: 10px 9px !important;
  margin: 0 11px;
}

.main-menu.menu-light .navigation > li ul .open > a {
  color: #727E8C;
}

.main-menu.menu-light .navigation > li ul .open > ul {
  display: block;
}

.main-menu.menu-light .navigation > li ul .open > ul .open > ul {
  display: block;
}

.main-menu.menu-light .navigation > li ul .open.active {
  background-color: inherit;
}

.main-menu.menu-light .navigation > li ul .active {
  background: rgba(90, 141, 238, 0.15);
}

.main-menu.menu-light .navigation > li ul .active > a {
  color: #5A8DEE;
}

.main-menu.menu-light .navigation > li > ul > li:first-child > a {
  border-top: 1px solid #DFE3E7;
}

.main-menu.menu-light .navigation > li > ul > li.active:first-child > a {
  border-top: none;
}

.main-menu.menu-dark {
  color: #8a99b5;
  background: #1a233a;
  border: #464d5c;
}

.main-menu.menu-dark .navigation {
  background: #1a233a;
}

.main-menu.menu-dark .navigation .navigation-header {
  color: #bac0c7;
  margin: calc(2.2rem - 0.5rem) 0 0.5rem 1.8rem;
  padding: 0;
  letter-spacing: 1px;
}

.main-menu.menu-dark .navigation li a {
  display: flex;
  align-items: center;
  color: #8494a7;
  padding: 10px 12px;
}

.main-menu.menu-dark .navigation > li {
  margin: 0 1rem;
  transition: background-color 0.5s ease;
}

.main-menu.menu-dark .navigation > li.nav-item:not(.has-sub) a {
  padding: 10px 12px;
}

.main-menu.menu-dark .navigation > li.nav-item.open > a {
  margin: 0 11px 0;
  padding: 9px 0;
  transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
}

.main-menu.menu-dark .navigation > li.nav-item.open > a i {
  color: #5A8DEE !important;
}

.main-menu.menu-dark .navigation > li.nav-item.open .menu-content li a {
  padding: 10px 18px;
}

.main-menu.menu-dark .navigation > li.nav-item.open .menu-content li > a:hover {
  padding-left: 15px !important;
}

.main-menu.menu-dark .navigation > li:not(.open) > ul {
  display: none;
}

.main-menu.menu-dark .navigation > li.active:not(.sidebar-group-active) > a {
  background: rgba(90, 141, 238, 0.15);
  color: #5A8DEE;
  border-radius: 0.267rem;
}

.main-menu.menu-dark .navigation > li .active > a {
  margin-bottom: 0;
}

.main-menu.menu-dark .navigation > li .active .hover {
  background: #141b2c;
}

.main-menu.menu-dark .navigation > li ul li > a {
  padding: 10px 9px !important;
  margin: 0 11px;
}

.main-menu.menu-dark .navigation > li ul .open > a {
  color: #8a99b5;
}

.main-menu.menu-dark .navigation > li ul .open > ul {
  display: block;
}

.main-menu.menu-dark .navigation > li ul .open > ul .open > ul {
  display: block;
}

.main-menu.menu-dark .navigation > li ul .open.active {
  background-color: inherit;
}

.main-menu.menu-dark .navigation > li ul .active {
  background: rgba(90, 141, 238, 0.15);
}

.main-menu.menu-dark .navigation > li ul .active > a {
  color: #5A8DEE;
}

.main-menu.menu-dark .navigation > li > ul > li:first-child > a {
  border-top: 1px solid #464d5c;
}

.main-menu.menu-dark .navigation > li > ul > li.active:first-child > a {
  border-top: none;
}

.main-menu.menu-fixed {
  position: fixed;
  top: 0;
}

.main-menu .shadow-bottom {
  /* Menu Scroll Shadow */
  display: none;
  position: absolute;
  z-index: 2;
  height: 60px;
  width: 100%;
  pointer-events: none;
  margin-top: -1.3rem;
  filter: blur(5px);
  background: linear-gradient(#f2f4f4 41%, rgba(255, 255, 255, 0.11) 95%, rgba(255, 255, 255, 0));
}

.main-menu .navbar-header {
  height: 100%;
  width: 260px;
  height: 4.6rem;
  position: relative;
  padding: 0.35rem 1.45rem 0.3rem 1.3rem;
  transition: 300ms ease all;
  cursor: pointer;
  z-index: 3;
}

.main-menu .navbar-header .navbar-brand {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
}

.main-menu .navbar-header .navbar-brand .brand-logo {
  height: 27px;
  width: 35px;
  float: left;
  margin-top: 0.2rem;
  margin-left: 3px;
}

.main-menu .navbar-header .navbar-brand .brand-logo .logo {
  height: 26px;
  display: flex;
  position: relative;
  left: 6px;
}

.main-menu .navbar-header .navbar-brand .brand-text {
  color: #5A8DEE;
  padding-left: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  font-size: 1.5rem;
  float: left;
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}

.main-menu .navbar-header .modern-nav-toggle {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
  margin: 0.75rem 0 0;
}

.main-menu .main-menu-content {
  height: calc(100% - 6rem) !important;
  position: relative;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu ul.navigation-main {
  overflow-x: hidden;
}

/* Main Navigation */
.navigation {
  font-family: "Rubik", Helvetica, Arial, serif;
  overflow-y: hidden;
  padding-bottom: 20px;
}

.navigation .navigation-header {
  padding: 12px 22px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.navigation li {
  position: relative;
  white-space: nowrap;
}

.navigation li a {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navigation li.disabled a {
  cursor: not-allowed;
}

.dropdown-notification {
  padding: 13px 0;
}

.dropdown-notification .nav-link-label {
  position: relative;
}

.dropdown-notification .media-heading {
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}

.dropdown-notification .notification-text {
  margin-bottom: 0.5rem;
  font-size: smaller;
  color: #828D99;
}

.dropdown-notification .dropdown-menu.dropdown-menu-right {
  right: -2px;
  padding: 0;
}

.dropdown-notification .dropdown-menu.dropdown-menu-right::before {
  background: #5A8DEE;
  border-color: #5A8DEE;
}

.dropdown-notification .dropdown-menu.dropdown-menu-right .scrollable-container .read-notification {
  background-color: #f2f4f4;
}

.dropdown-notification .dropdown-menu-header {
  border-top-left-radius: 0.267rem;
  border-top-right-radius: 0.267rem;
  background: #5A8DEE;
}

.dropdown-notification .dropdown-menu-header .dropdown-header {
  color: #FFFFFF;
}

@media (max-width: 767.98px) {
  .main-menu {
    transform: translate3d(-240px, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}

@media (min-width: 768px) {
  .drag-target {
    z-index: 0;
  }
}

/* Content Helpers */
/* --------------- */
/* Display */

.cursor-pointer {
  cursor: pointer;
}

/* Borders */
.border {
  border: 1px solid;
}

.border-top {
  border-top: 1px solid;
}

.border-bottom {
  border-bottom: 1px solid;
}

.border-left {
  border-left: 1px solid;
}

.border-right {
  border-right: 1px solid;
}

/* Border Widths */

/* No Border Radius */

/* Box Shadow */
.box-shadow-0 {
  box-shadow: none !important;
}

/* Fixed Widths */

/* Width In % */

/*Fixed Height In Px */

/*Fixed Height In % */

/* Vh Height */

/* Line Height */

/* Transformations */

/* Pull The Element */
.pull-up {
  transition: all 0.25s ease;
}

.pull-up:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0px 14px 24px rgba(62, 57, 107, 0.2);
  z-index: 30;
}

/* Image */
/* ----- */
/*Background Image */

/* Bullets */
.bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
}

.bullet.bullet-xs {
  width: 8px;
  height: 8px;
  position: relative;
  top: -1px;
}

.bullet.bullet-sm {
  width: 10px;
  height: 10px;
}

/* Avatar Css */
/* ---------- */
.avatar {
  white-space: nowrap;
  background-color: #c3c3c3;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  color: #FFFFFF;
  display: inline-flex;
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
}

.avatar .avatar-content {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar [class*="avatar-status-"] {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #FFFFFF;
}

.avatar .avatar-status-online {
  background-color: #39DA8A;
}

.avatar .avatar-status-busy {
  background-color: #FF5B5C;
}

.avatar img {
  border-radius: 50%;
}

.avatar.avatar-xl {
  font-size: 1.5rem;
}

.avatar.avatar-xl img {
  width: 70px;
  height: 70px;
}

.avatar.avatar-xl .avatar-content {
  height: 70px;
  width: 70px;
}

/* Search */
/* ------ */

.navbar-container .dropdown.bookmark-dropdown {
  padding: 1.4rem 0.5rem 1.35rem;
}

.navbar-container .dropdown.bookmark-dropdown .dropdown-toggle:after {
  display: none;
}

/* static navbar search */

/* Apex chart css */
/* -------------- */

/* Bootstrap Social */
/* ---------------- */

/* Social Button */

.btn-google {
  background-color: #dd4b39;
  color: #FFFFFF;
  background-color: #dd4b39;
  border-color: #FFFFFF;
}

.btn-google:hover {
  color: #FFFFFF;
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.btn-google:focus, .btn-google.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-google.disabled, .btn-google:disabled {
  color: #FFFFFF;
  background-color: #dd4b39;
  border-color: #FFFFFF;
}

.btn-google:not(:disabled):not(.disabled):active, .btn-google:not(:disabled):not(.disabled).active,
.show > .btn-google.dropdown-toggle {
  color: #FFFFFF;
  background-color: #c23321;
  border-color: #dfdfdf;
}

.btn-google:not(:disabled):not(.disabled):active:focus, .btn-google:not(:disabled):not(.disabled).active:focus,
.show > .btn-google.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-twitter {
  background-color: #55acee;
  color: #324356;
  background-color: #55acee;
  border-color: #FFFFFF;
}

.btn-twitter:hover {
  color: #324356;
  background-color: #55acee;
  border-color: #55acee;
}

.btn-twitter:focus, .btn-twitter.focus {
  box-shadow: 0 0 0 0.2rem rgba(224, 227, 230, 0.5);
}

.btn-twitter.disabled, .btn-twitter:disabled {
  color: #324356;
  background-color: #55acee;
  border-color: #FFFFFF;
}

.btn-twitter:not(:disabled):not(.disabled):active, .btn-twitter:not(:disabled):not(.disabled).active,
.show > .btn-twitter.dropdown-toggle {
  color: #FFFFFF;
  background-color: #2795e9;
  border-color: #dfdfdf;
}

.btn-twitter:not(:disabled):not(.disabled):active:focus, .btn-twitter:not(:disabled):not(.disabled).active:focus,
.show > .btn-twitter.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(224, 227, 230, 0.5);
}

/* Social Outline Button */

/* Social Outline Hover Button */

/* Social Background Colors */

/* Social Text Colors */

.facebook {
  color: #3b5998;
}

.github {
  color: #444444;
}

.google {
  color: #dd4b39;
}

.instagram {
  color: #3f729b;
}

.linkedin {
  color: #007bb6;
}

.youtube {
  color: #ff4500;
}

.twitter {
  color: #55acee;
}

/* Demo Css */
/* -------- */

.browser {
  background: #e0e0e0;
  border: 4px solid #e0e0e0;
  width: 100%;
  height: 12rem;
  padding-top: 20px;
  margin: 0 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.browser iframe {
  border: 0;
  background: #FFFFFF;
  height: 100%;
  width: 100%;
}

/* Customizer Css */
/* -------------- */
.customizer {
  width: 400px;
  right: -400px;
  padding: 0;
  background-color: #FFFFFF;
  z-index: 1051;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  transition: right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  backface-visibility: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.customizer.open {
  right: 0;
}

/* Chips Css */
/* --------- */

/* Divider Css */
/* --------- */
.divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 1rem 0;
}

.divider .divider-text {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  padding: 0 1rem;
  background-color: #FFFFFF;
}

.divider .divider-text i {
  font-size: 1rem;
}

.divider .divider-text:before, .divider .divider-text:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  border-top: 1px solid #DFE3E7;
}

.divider .divider-text:before {
  right: 100%;
}

.divider .divider-text:after {
  left: 100%;
}

/* Error Css */
/* --------- */
.error-title {
  font-size: 3rem;
}

@media only screen and (max-width: 575px) {
  .error-title {
    font-size: 2rem;
  }
}

/* widget chat */
/* ----------- */
.widget-chat .widget-chat-container {
  position: relative;
  height: 420px;
  text-align: center;
  padding: 1.4rem;
}

.widget-chat .chat-content .chat-body {
  overflow: hidden !important;
  margin: 0.67rem 0 0 0 !important;
}

.widget-chat .chat-content .chat-body .chat-message {
  position: relative !important;
  float: right !important;
  text-align: right !important;
  padding: 0.75rem 1rem !important;
  margin: 0.2rem 0.2rem 1.8rem 0 !important;
  max-width: calc(100% - 5rem) !important;
  clear: both !important;
  word-break: break-word !important;
  color: #FFFFFF !important;
  background: #5A8DEE !important;
  border-radius: 0.267rem !important;
  box-shadow: 0 2px 4px 0 rgba(90, 141, 238, 0.6) !important;
}

.widget-chat .chat-content .chat-body .chat-message p {
  margin-bottom: 0 !important;
}

.widget-chat .chat-content .chat-body .chat-message .chat-time {
  position: absolute !important;
  bottom: -20px !important;
  right: 0px !important;
  color: #828D99 !important;
  font-size: 0.8rem !important;
  white-space: nowrap !important;
}

.widget-chat .chat-content .chat-left .chat-message {
  text-align: left !important;
  float: left !important;
  margin: 0.2rem 0 1.8rem 0.2rem !important;
  color: #727E8C !important;
  background-color: #fafbfb !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3) !important;
}

.widget-chat.widget-chat-demo {
  position: fixed;
  z-index: 1031;
  bottom: 11.5%;
  right: 80px;
  width: 350px;
}

.widget-chat.widget-chat-demo .widget-chat-container {
  height: 27rem;
}

.widget-chat.widget-chat-demo .chat-content .chat-message {
  max-width: calc(100% - 3rem);
}

.widget-chat.widget-chat-demo .card {
  box-shadow: 0px 0px 22px 0 rgba(25, 42, 70, 0.25);
}

.chat-demo-button {
  position: fixed;
  bottom: 5%;
  right: 80px;
  z-index: 1031;
}

.chat-demo-button i {
  top: 0;
}

@media (max-width: 575.98px) {
  .widget-chat.widget-chat-demo {
    right: 0;
    padding: 0 1.2rem;
    width: 100%;
  }
  .widget-chat.widget-chat-demo .widget-chat-container {
    height: 21rem;
  }
}

/* Timeline */
/* ---------------- */
.widget-timeline li {
  padding: 1.1rem 0;
  list-style: none;
  position: relative;
}

.widget-timeline li.timeline-items:before {
  position: absolute;
  content: "";
  left: -37px;
  top: 17px;
  border: 3px solid #FFFFFF;
  box-shadow: 1px 2px 6px 0 rgba(25, 42, 70, 0.3);
  border-radius: 50%;
  background: #5A8DEE;
  height: 13px;
  width: 13px;
  z-index: 2;
}

.widget-timeline li.timeline-items.active:not(:last-child):after {
  position: absolute;
  content: "";
  width: 1px;
  background: #dfe3e7;
  left: -31px;
  top: 22px;
  height: 100%;
  z-index: 1;
}

.widget-timeline li.timeline-items .timeline-content {
  padding: 0.5rem 1rem;
  background-color: #fafbfb;
  border-radius: 0.267rem;
  display: flex;
  align-items: center;
}

.widget-timeline li .timeline-time {
  float: right;
  color: #828D99;
  font-size: 0.9rem;
}

.widget-timeline li .timeline-title {
  margin-bottom: 0.25rem;
}

.widget-timeline li .timeline-text {
  margin-bottom: 0.5rem;
}

/* Breakpoints Css */
/* ------------- */
@media screen and (min-width: 0px) {
  head {
    font-family: "xs 0px";
  }
  body:after {
    content: "xs - min-width: 0px";
  }
}

@media screen and (min-width: 544px) {
  head {
    font-family: "sm 544px";
  }
  body:after {
    content: "sm - min-width: 544px";
  }
}

@media screen and (min-width: 768px) {
  head {
    font-family: "md 768px";
  }
  body:after {
    content: "md - min-width: 768px";
  }
}

@media screen and (min-width: 992px) {
  head {
    font-family: "lg 992px";
  }
  body:after {
    content: "lg - min-width: 992px";
  }
}

@media screen and (min-width: 1200px) {
  head {
    font-family: "xl 1200px";
  }
  body:after {
    content: "xl - min-width: 1200px";
  }
}

head {
  clear: both;
}

head title {
  font-family: "xs 0px, sm 544px, md 768px, lg 992px, xl 1200px";
}

body:after {
  display: none;
}

/* Basic Input Css */
/* -------------- */
.form-control-position {
  position: absolute;
  top: 2px;
  right: 0;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

/* Input Icon Positioning */
.position-relative .form-control {
  padding-right: calc(1.4em + 0.94rem + 3.7px);
}

.position-relative .form-control.form-control-lg ~ .form-control-position {
  top: 6px;
}

/* Input Icon Left */
.has-icon-left .form-control {
  padding-right: 1.6rem;
  padding-left: 2.5rem;
}

.has-icon-left .form-control-position {
  right: auto;
}

.has-icon-left .form-control-position i {
  position: relative;
  left: 2px;
  top: 1px;
  color: rgba(0, 0, 0, 0.4);
}

/* Font Sizing */

.font-size-base {
  font-size: 1rem;
}

.font-size-small {
  font-size: 0.8rem;
}

/* Select2 Css */
/* ----------- */

.select2 .form-control:focus {
  border-color: #5A8DEE !important;
}

/* Datatables Css */
/* ------------- */

/* Pick A Date Css */
/* ------------- */
.picker__input.form-control {
  background-color: #FFFFFF;
}

.picker {
  z-index: 10;
}

/* Daterange Css */
/* ------------- */
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #5A8DEE;
}

.daterangepicker .ranges li.active {
  background-color: #5A8DEE;
}
