/*------------------------------------------------------------------

[Table of contents]
- Layout CSS
- Responsive Layout CSS
- Sidebar
- Footer CSS
- Main Menu 
- Content Helpers
-   Display
-   Borders
-   Box Shadow
-   Width
-   Height
-   Line Height
-   Transformations
- Image
- Bullets
- Avatar CSS
- Search
- Apex Chart CSS
- Bootstrap Social
- Demo CSS
- Customizer CSS
- Chips CSS
- Divider CSS
- Error CSS
- widget chat
- Timeline
- CSS Breakpoints
- Basic Input CSS
- Font Sizing
- Select2 CSS
- Datatables CSS
- Pick A Date CSS
- Daterange CSS
-------------------------------------------------------------------*/
/* Template Css */
/* ----------- */
html {
  font-size: 15px;
  height: 100%;
  letter-spacing: 0.01rem;
}

html body {
  height: 100%;
  background-color: #F2F4F4;
  direction: ltr;
}

html body .content {
  padding: 0;
  position: relative;
  transition: 300ms ease all;
  backface-visibility: hidden;
  min-height: calc(100% - 3.5rem);
  margin-left: 260px;
}

html body .content.app-content {
  overflow: hidden;
}

html body .content.app-content .content-overlay {
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.7s;
  z-index: -1;
}

html body .content .content-wrapper {
  padding: calc(2.2rem - 0.4rem) 2.2rem 0;
  margin-top: 0;
}

html body.navbar-static .app-content .content-wrapper {
  padding: 1.8rem 2.2rem 0;
  margin-top: 3px;
}

html body.navbar-static .content {
  min-height: calc(100% - 12.5rem);
}

html body.navbar-sticky .app-content .content-wrapper {
  padding: 1.8rem 2.2rem 0;
  margin-top: 3rem;
}

html body p {
  line-height: 1.5rem;
}

html body.bg-full-screen-image {
  background: url(../../app-assets/images/pages/auth-bg.jpg) no-repeat center center;
  background-size: cover;
}

html body.blank-page .content {
  margin-left: 0;
}

html body.blank-page .content.app-content {
  overflow: overlay;
  overflow-x: hidden;
}

html body.blank-page .content-wrapper {
  padding: 0 !important;
  margin-top: 0 !important;
}

html body.blank-page .content-wrapper .flexbox-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

html body[data-col="1-column"] .content,
html body[data-col="1-column"] .footer {
  margin-left: 0px !important;
}

/* Responsive Layout Css */
/* --------------------- */

@media (max-width: 575.98px) {
  html body .content .content-wrapper {
    padding: calc(2.2rem - 0.4rem) calc(2.2rem - 1rem) 0;
  }
}

/* Sidebar */
/* ------ */

/* Sidebar Fixed */

/* Sidenav Overlay */

/* Drag Target */

/* Footer Css */
/* ---------- */
footer.footer {
  padding: 1rem 2.2rem;
}

footer.footer a {
  margin-left: 0.3rem;
  color: #727E8C;
}

footer.footer span i {
  color: #FF5B5C;
  position: relative;
  top: 1px;
}

/* Fixed Footer */

/* Footer Hidden */

/* Main Menu Base */
/* -------------- */
.main-menu {
  z-index: 1031;
  position: absolute;
  display: table-cell;
  height: 100%;
  overflow: hidden;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Main Navigation */

@media (max-width: 767.98px) {
  .main-menu {
    transform: translate3d(-240px, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}

/* Content Helpers */
/* --------------- */
/* Display */

/* Borders */
.border {
  border: 1px solid;
}

/* Border Widths */

/* No Border Radius */

/* Box Shadow */

/* Fixed Widths */

/* Width In % */

/*Fixed Height In Px */

/*Fixed Height In % */

/* Vh Height */

/* Line Height */

/* Transformations */

/* Pull The Element */

/* Image */
/* ----- */
/*Background Image */

/* Bullets */

/* Avatar Css */
/* ---------- */

/* Search */
/* ------ */

/* static navbar search */

/* Apex chart css */
/* -------------- */

/* Bootstrap Social */
/* ---------------- */

/* Social Button */

/* Social Outline Button */

/* Social Outline Hover Button */

/* Social Background Colors */

/* Social Text Colors */

/* Demo Css */
/* -------- */

/* Customizer Css */
/* -------------- */
.customizer {
  width: 400px;
  right: -400px;
  padding: 0;
  background-color: #FFFFFF;
  z-index: 1051;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  transition: right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  backface-visibility: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.customizer.open {
  right: 0;
}

/* Chips Css */
/* --------- */

/* Divider Css */
/* --------- */

/* Error Css */
/* --------- */
.error-title {
  font-size: 3rem;
}

@media only screen and (max-width: 575px) {
  .error-title {
    font-size: 2rem;
  }
}

/* widget chat */
/* ----------- */

/* Timeline */
/* ---------------- */

/* Breakpoints Css */
/* ------------- */
@media screen and (min-width: 0px) {
  head {
    font-family: "xs 0px";
  }
  body:after {
    content: "xs - min-width: 0px";
  }
}

@media screen and (min-width: 544px) {
  head {
    font-family: "sm 544px";
  }
  body:after {
    content: "sm - min-width: 544px";
  }
}

@media screen and (min-width: 768px) {
  head {
    font-family: "md 768px";
  }
  body:after {
    content: "md - min-width: 768px";
  }
}

@media screen and (min-width: 992px) {
  head {
    font-family: "lg 992px";
  }
  body:after {
    content: "lg - min-width: 992px";
  }
}

@media screen and (min-width: 1200px) {
  head {
    font-family: "xl 1200px";
  }
  body:after {
    content: "xl - min-width: 1200px";
  }
}

head {
  clear: both;
}

head title {
  font-family: "xs 0px, sm 544px, md 768px, lg 992px, xl 1200px";
}

body:after {
  display: none;
}

/* Basic Input Css */
/* -------------- */

/* Input Icon Positioning */
.position-relative .form-control {
  padding-right: calc(1.4em + 0.94rem + 3.7px);
}

/* Input Icon Left */

/* Font Sizing */

/* Select2 Css */
/* ----------- */

.select2 .form-control:focus {
  border-color: #5A8DEE !important;
}

/* Datatables Css */
/* ------------- */

/* Pick A Date Css */
/* ------------- */

/* Daterange Css */
/* ------------- */
